<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
         ['Month', 'Systems Administration', 'Virtualization', 'Networking', 'cli', 'git', 'Average'],
         ['2011/01',  60,                    25,                52,           60,    0,      39.4],
         ['2015/09',  80,                    70,                78,           85,    65,      75.6],
      ]);

    var options = {
      title : 'Skills Confidence',
      vAxis: {title: 'Confidence Level'},
      hAxis: {title: 'Month'},
      seriesType: 'bars',
      series: {5: {type: 'line'}}
    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
